<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aote.builder.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.aote.builder.model.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="height" jdbcType="DOUBLE" property="height" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
  </resultMap>
</mapper>